<div class="container-fluid">
  <section id="about">
    <div class="row">
      <div class="col-md-6" style="padding-top:50px;">
        <h1>Hello, I'm <b>Vannak</b>, A Full-Stack Developer.</h1>
        <p><i>Currently looking for Jedi Masters to help me master the force and also
        a junior developer position.  I've worked with Rails and AngularJS 1.5.  I have a passion
        for learning and using my knowledge to impact others.  In my free time, I'm either trying to
        become a Jedi Master (in coding) or a Chess Master (in real life).
        </p>
        <button>View My CV</button>
          <hr>
      </div>
      <div class="col-md-6" style="padding-top:50px;">
      </div>
    </div>
  </section>

  </section>
  <section id="work">
    <div class="row">
       <div class="col-md-12">
         <h4 class="section-heading">Recent Project</h4>
         <button href="https://learn.co/vannak1/resume">View My Github</button>
       </div>
    </div>
    <div class="row">

    </div>
  </section>
  <hr>
  <section id="blog">
    <div class="row">
      <div class="col-md-12">
        <h4 class="section-heading">Recent Posts</h4>

      </div>
      <div class="col-md-4">
        <h5>Quick Sort Algorithm</h5>
        <p>Sorting is a common task in programming and you can sure bet that
        there have been a lot of solutions in the past.  Some algorithm are more
        intuitive than others but ...</p>
      </div>
      <div class="col-md-4">
        <h5>Authentication in Rails</h5>
        <p>As our rails application increase in complexity, how we make sure a user
        is who they say they are is an important factor to think about.  Authentication
        deals with...</p>
      </div>
      <div class="col-md-4">
        <h5>Authentication in Rails</h5>
        <p>As our rails application increase in complexity, how we make sure a user
        is who they say they are is an important factor to think about.  Authentication
        deals with...</p>
      </div>
      <div class="col-md-4">
        <button>Read Blog</button>
      </div>
    </div>
  </section>
  <hr>
  <section id="contact">
    <div class="row">
      <div class="col-md-12">
        <h5 class="section-heading">Contact: vannak.chhay1@gmail.com</h5>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="message" placeholder="Message">
          </div>
          <button>Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>
